:root {
    --color-primary: #05001f;
    --color-secondary: #078d2d;
    --color-text-btn: #fff;
    --color-bg-main: #05001f;
    --color-bg-secondary: #ffffff;
    --color-btn-main: #078d2d;
    --color-btn-secondary: #317ae7;
    /* --text-color: */
    /* --spacing-sm: 8px;
  --spacing-md: 16px;
  --font-size-base: 16px;
  --radius-md: 8px; */
}
